
/* slategrey and khaki also nice */
/* cornsilk */
.servicesBody{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: "images/QTAKE-BG-DARK.jpg";
    background-color: lightgrey;  


}