  
  /* Featurettes
  ------------------------- */
  .featurette {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .featuretteBody {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }


  .featuretteDivider {
    margin: 0; /* Space out the Bootstrap <hr> more */
    padding-bottom: 3rem;
    border-top: 1px solid grey;
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }